/*----------- Layout -----------*/
#title {
    text-align: center;
    color: white;
    background-color: coral;
}

p, label, table, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

#speisekarte {
    text-align: center;
}

div.Card {
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    round-clip: true;
    overflow: hidden;
    margin: 8px;
}

.center {
    text-align: center;
}

div.BestellungForm {
    padding: 8px;
    border: 1px solid black;
}

p.PizzaName, p.PizzaPrice {
    margin-block-start: 0;
    margin-block-end: 0;
}

table, td, tr {
    border: 1px solid black;
}

td, tr {
    padding: 4px;
    align-content: center;
    align-items: center;
}

section {
    text-align: center;
    height: 275px;
    padding: 5px 50px 5px 50px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*------ navigation_menu --------*/
#navigation_menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation_menu {
    float: left;
}

#navigation_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation_menu a:hover {
    background-color: #88B04B;
}

/*------ Media Queries --------*/
/** Schmale Bildschirme - Handy? **/
@media only screen and (max-width: 414px){
    h1, h2, h3, h4, h5, h6, p, label {font-size: 0.8em}
    div.BestellungForm { display: inline-block;}
    #navigation_menu a { display: inline-block;}
    body {background-color: none;}
}
/** Tablet !? **/
@media only screen and (min-width: 415px){
    h1, h2, h3, h4, h5, h6, p, label {font-size: 1.6em}
    body {
        background-color: #d5f4e6;
    }
}